---
import { Time } from '@astro-github-elements/time';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<ul style="display:flex;flex-direction:column;gap:0.5rem;">
			<Time format="datetime" now/>
			<Time format="datetime" datetime="2022-09-19T00:49:24.526Z"/>
			<br>
			<Time format="relative" now/>
			<Time format="relative" datetime="2022-09-19T00:49:24.526Z"/>
			<br>
			<Time format="duration" now/>
			<Time format="duration" datetime="2022-09-19T00:49:24.526Z"/>
			<br>
			<Time format="duration" datetime="2014-04-01T16:30:00-08:00" formatStyle="narrow"/>
			<Time format="relative" datetime="2014-04-01T16:30:00-08:00"/>
			<Time format="relative" datetime="2014-04-01T16:30:00-08:00"/>
			<Time format="relative" datetime="2014-04-01T16:30:00-08:00"/>
			<Time format="relative" datetime="2014-04-01T16:30:00-08:00"/>
			<Time format="relative" datetime="2014-04-01T16:30:00-08:00"/>
			<Time format="relative" datetime="2014-04-01T16:30:00-08:00"/>
		</ul>
	</body>
</html>
